body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    padding: 30px;
    background: #f7f7f7;
}

.inner-container {
    display: flex;
}

.margin-right {
    margin-right: 30px;
}

.axis line {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

label {
    color: #332f35;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
}

input:checked + label{
    color: #332f35;
    background: #5DBB63;
}

label + input + label {
    border-left: solid 1px #332f35;
}
.radio-group {
    border: solid 3px #332f35;
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}
/* ScatterPlot*/
.point {
    fill: #69b3a2;
    fill-opacity: 30%;
}
.point.active {
    fill: #ff0000;
    fill-opacity: 60%;

}

/* heatmap */
.h-cell:hover {
    stroke: #ED7117;
    stroke-width: 2px;
}

.h-cell.active {
    stroke: #ED7117;
    stroke-width: 2px;
}

/* Tooltip */
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
}